@model BeanSceneSystem.Models.Table

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Table</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="TableID" />
            <div class="form-group">
                <label asp-for="AreaID" class="control-label"></label>
                <select asp-for="AreaID" class="form-control" asp-items="ViewBag.AreaID"></select>
                <span asp-validation-for="AreaID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TableName" class="control-label"></label>
                <input asp-for="TableName" class="form-control" />
                <span asp-validation-for="TableName" class="text-danger"></span>
            </div>
@*             <div class="form-group">
                <label asp-for="TableStatus" class="control-label"></label>
                @Html.DropDownListFor(model => model.TableStatus, new SelectList(new[]
                         {
                new { Value = "Free", Text = "Free" },
                new { Value = "Booked", Text = "Booked" }
                }, "Value", "Text"), new { @class = "form-control" })
                <span asp-validation-for="TableStatus" class="text-danger"></span>
            </div> *@
            <div class="form-group">
                <label asp-for="TableStatus" class="control-label"></label>
                <select asp-for="TableStatus" class="form-control">
                    <option value="Free">Free</option>
                    <option value="Booked">Booked</option>
                </select>
                <span asp-validation-for="TableStatus" class="text-danger"></span>
            </div>
            <div class="form-group" style="margin-top:10px; margin-bottom:10px">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
