@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Bean Scene!</h1>

    <style>
        .home-image {
            max-width: 100%;
            height: auto;
            display: block;
            margin: 0 auto;
        }
    </style>

    <div>
        <img src="~/images/home.jpg" asp-append-version="true" alt="Home Image" class="home-image" />
    </div>
    @* <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p> *@
</div>
